* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 110px;
    margin: auto;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar__logo {
    font-size: 35px;
}

.navbar__input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 0px 13px;
    color: red;
}

.navbar__links {
    display: flex;
    gap: 30px;
}

.navbar__link {
    color: white;
}

.navbar__link:hover {
    color: red;
    transition: all 1s ease;
}








.index__paginations {
  padding: 30px;
  width: 330px;
  border-radius: 15px;
  margin: 15px 0px;
  border-left: 6px solid red;
  border-right: 6px solid green;
  border-top: 6px solid red;
  border-bottom: 6px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.index__previous__btn {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: #000;
  color: red;
  border: 2px solid red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.index__previous__btn:hover {
  color: green;
  border: 2px solid green;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}

.index__previous__btn:active {
  color: red;
  border: 2px solid red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.index__next__btn {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: #000;
  color: green;
  border: 2px solid green;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}

.index__next__btn:hover {
  color: red;
  border: 2px solid red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.index__next__btn:active {
  color: green;
  border: 2px solid green;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}